<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div> <a href="/universities"> Back to universities</a></div>
    {% for item in disciplines %}
        <span> <a href="/universities/{{name}}/{{item}}"> {{ item }}</a></span>
    {% endfor %}

    {% for item in data %}
        <br>
        <div>
            <img src="{{item.pict.value}}">
        </div>
        <div>
            {{ item.desc.value }}
        </div>
        <div>
            <a href="{{ item.topic.value }}">Wikipedia page</a>
        </div>
        <br>
    {% endfor %}

</body>
</html>